<html>
<header>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap"
    rel="stylesheet" />
  <style>
    .body {
      font-family: "Lexend";
    }
  </style>
</header>

<body style="padding: 0; margin: 0">
  <table style="width: 100%; overflow-y: scroll; border-collapse: collapse">
    <tbody>
      <tr>
        <td>
          <table style="
                max-width: 725px;
                width: 100%;
                margin: auto;
                border-collapse: collapse;
                font-family: Lexend;
              ">
            <tbody>
              <tr>
                <td style="height: 80px">
                  <div style="margin-top: 18px; margin-bottom: 8px">
                    <img width="165px" height="40px" src="{{nbfcLogo}}" />
                  </div>
                  {{#cIf showLendingPartner}}
                  <div style="font-size: 12px; margin-bottom: 18px">
                    Lending Partner : {{appName}}
                  </div>
                  {{/cIf}}
                </td>
                <td style="padding: 0 0px 0 0; width: 400px">
                  {{#cIf isStamp}}
                  <div style="color: #fff; font-size: 14px; text-align: end">
                    Certificate No : {{stampNumber}}
                  </div>
                  {{/cIf}}
                  <div style="
                        font-size: 12px;
                        text-align: end;
                        margin: 5px 0 0 0;
                      ">
                    {{nbfcAddress}}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td style="background-color: #e02d42; height: 2px; margin-top: -2px"></td>
      </tr>
      <tr>
        <td>
          <div style="
                padding: 10px 30px 10px 30px;
                text-align: right;
                font-size: 10px;
              ">
            <b>पेज की निरंतरता में 2</b>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <table style="
                border: 1px solid #fff;
                border-collapse: collapse;
                border-spacing: 0;
                margin: auto;
                width: 100%;
                font-family: Lexend;
                height: 100%;
              ">
            <tbody>
              <tr>
                <td style="padding: 10px 30px; font-size: 12px">
                  <div style="font-weight: 600; padding: 10px 0 0 0">
                    <div style="
                          float: left;
                          width: 10px;
                          margin-right: 10px;
                          margin-left: 20px;
                        ">
                      <b>8.</b>
                    </div>
                    {{#cIf showLendingPartner}}
                    <div style="padding-inline-start: 50px; font-weight: 400">
                      <b>हानि से सुरक्षा:</b>
                    </div>
                    <div>
                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div style="float: left; width: 10px; margin-left: 20px">
                          1.
                        </div>
                        <div style="padding-inline-start: 40px">
                          ऋणग्रही उधारदाता को भरपूर और पूरी रक्षा देगा और उसे किसी भी और सभी हानि, नुकसान या अन्य परिणाम
                          से निष्कासित करेगा जो उधार देने से उत्पन्न हो सकते हैं और उसी प्रकार की सभी राशियों का पुनः
                          भुगतान करेगा जब मांग होगी और बरोबर उसकी खुद की लागत और व्यय में प्रकर्ता उपस्थित होगा और
                          उधारदाता के संबंध में लाया जा सकने वाली किसी भी कार्रवाई की रक्षा करेगा।
                        </div>
                      </div>
                      <div style="font-weight: 400; padding: 0 0 5px 40px">
                        <div style="float: left; width: 10px; margin-left: 20px">
                          2.
                        </div>
                        <div style="padding-inline-start: 40px">
                          उधारकर्ता और ऋणदाता स्वीकार करते हैं कि
                          <u> Lenditt </u>
                          केवल ऋणग्रही और उधारदाता के बीच सौदे को सुविधाजनक बनाने के लिए एक सेवा प्रदाता है और उनके लिए
                          किसी भी अनुबंध का पालन करने के लिए कोई जिम्मेदारी नहीं है। यदि उनके कार्य या अकारण के कारण
                          कंपनी को कोई नुकसान होता है, तो ऋणदाता और उधारकर्ता कंपनी को हानि से सुरक्षा करेंगे।
                        </div>
                      </div>
                      {{else}}
                      <div style="padding-inline-start: 50px; font-weight: 400">
                        <b>हानि से सुरक्षा: </b> ऋणग्रही उधारदाता को भरपूर और पूरी रक्षा देगा और उसे किसी भी और सभी
                        हानि, नुकसान या अन्य परिणाम से निष्कासित करेगा जो उधार देने से उत्पन्न हो सकते हैं और उसी प्रकार
                        की सभी राशियों का पुनः भुगतान करेगा जब मांग होगी और बरोबर उसकी खुद की लागत और व्यय में प्रकर्ता
                        उपस्थित होगा और उधारदाता के संबंध में लाया जा सकने वाली किसी भी कार्रवाई की रक्षा करेगा।
                      </div>
                    </div>
                    {{/cIf}}
                  </div>
                  <div style="font-weight: 600; padding: 5px 0 0 0">
                    <div style="
                          float: left;
                          width: 10px;
                          margin-right: 10px;
                          margin-left: 20px;
                        ">
                      9.
                    </div>
                    <div style="padding-inline-start: 50px">
                      नियम एवं शर्तें: दोनों पक्ष स्वीकार करते हैं, एक दूसरे
                      का प्रतिनिधित्व करें, अनुबंध करें और आश्वासन दें कि:
                    </div>
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px; margin-left: 20px">
                        1.
                      </div>
                      <div style="padding-inline-start: 40px">
                        उन्होंने सभी नियम एवं शर्तें, गोपनीयता पढ़ ली हैं
                        नीति, और अन्य सामग्री वेबसाइट/ऐप पर उपलब्ध है कंपनी
                        का।
                      </div>
                    </div>
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px; margin-left: 20px">
                        2.
                      </div>
                      <div style="padding-inline-start: 40px">
                        वे बिना शर्त शर्तों का पालन करने के लिए सहमत हैं
                        शर्तें, गोपनीयता नीति और अन्य बाध्यकारी सामग्री
                        वेबसाइट/ऐप पर मौजूद है।
                      </div>
                    </div>
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px; margin-left: 20px">
                        3.
                      </div>
                      <div style="padding-inline-start: 40px">
                        द्वारा प्रस्तुत सूचना एवं वित्तीय विवरण वेबसाइट/ऐप पर
                        उधारकर्ता की जानकारी सत्य और सही है।
                      </div>
                    </div>
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px; margin-left: 20px">
                        4.
                      </div>
                      <div style="padding-inline-start: 40px">
                        उधारकर्ता ने कोई जानकारी प्रदान नहीं की है जो कि है के
                        निर्णय को ग़लत या भौतिक रूप से ख़राब करता है ऋणदाता को
                        या तो उसे पंजीकृत करना होगा या ऋण देने की अनुमति देनी
                        होगी या वेबसाइट/ऐप के माध्यम से उधार लें।
                      </div>
                    </div>
                  </div>
                  <div style="font-weight: 600; padding: 5px 0 0 0">
                    <div style="
                          float: left;
                          width: 10px;
                          margin-right: 10px;
                          margin-left: 20px;
                        ">
                      10.
                    </div>
                    <div style="padding-inline-start: 60px">
                      नोटिस:<span style="font-weight: 400">इस अनुबंध के तहत भेजे जाने वाले किसी भी नोटिस की
                        आवश्यकता है प्राप्तकर्ता पक्ष को भेजा या वितरित किया
                        जाएगा के आरंभ में दिया गया पता समझौता, या ऐसे अन्य पते
                        पर, जैसा कि पक्ष कर सकते हैं समय-समय पर लिखित रूप से
                        नामित करें। यदि नोटिस हैं अप्राप्य है तो इसे सभी
                        उपलब्ध कराए गए लोगों को भेजा जा सकता है कार्य,
                        प्राथमिक और/या किराये सहित पते।
                        <br />
                        नोटिस इलेक्ट्रॉनिक माध्यम से भी वितरित किए जाएंगे सभी
                        ईमेल आईडी पर एसएमएस, ईमेल, व्हाट्सएप जैसे मीडिया और
                        उधारकर्ता द्वारा प्रदान किया गया फ़ोन नंबर.
                      </span>
                    </div>
                  </div>
                  <div style="font-weight: 600; padding: 5px 0 0 0">
                    <div style="
                          float: left;
                          width: 10px;
                          margin-right: 20px;
                          margin-left: 20px;
                        ">
                      11.
                    </div>
                    <div style="padding-inline-start: 60px">
                      कानून और अधिकार क्षेत्र गवर्निंग :
                      <span style="font-weight: 400">
                        यह समझौता इसके द्वारा शासित और समझा जाएगा भारत के
                        कानूनों के अनुसार। पक्षकार इस बात पर स्पष्ट रूप से
                        सहमत हैं कि किसी भी मामले के संबंध में, किसी भी तरह से
                        उत्पन्न होने वाला दावा या विवाद इस समझौते से संबंधित,
                        अदालतें/प्राधिकरण केवल अहमदाबाद में स्थित विशेष होगा
                        क्षेत्राधिकार और पक्ष अपना अधिकार त्याग देते हैं को
                        छोड़कर किसी अन्य स्थान पर मुक़दमा चलाया जाए या मुक़दमा
                        चलाया जाए अहमदाबाद.</span>
                    </div>
                  </div>
                  <div style="font-weight: 600; padding: 5px 0 0 0">
                    <div style="
                          float: left;
                          width: 10px;
                          margin-right: 20px;
                          margin-left: 20px;
                        ">
                      12.
                    </div>
                    <div style="padding-inline-start: 60px">
                      कानूनी कार्रवाई :
                    </div>
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px; margin-left: 20px">
                        1.
                      </div>
                      <div style="padding-inline-start: 40px">
                        पक्षों ने इस समझौते या इसके प्रदर्शन के संबंध में
                        उत्पन्न होने वाली किसी भी दावे, विवाद, अंतर और प्रश्न
                        के संबंध में स्वीकृति दी है। कंपनी को उचित कानूनी
                        प्रक्रिया शुरू करने की छूट होगी, जिसमें नागरिक और
                        जुर्माना प्रक्रिया शामिल हो सकती है, अदालत और किसी भी
                        उचित कानूनी मंच के समक्ष। इस प्रक्रिया के लिए अधिकारिक
                        क्षेत्र केवल अहमदाबाद, गुजरात, भारत में होगा।
                      </div>
                    </div>
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px; margin-left: 20px">
                        2.
                      </div>
                      <div style="padding-inline-start: 40px">
                        इस समझौते के भुगतान अनुसूची में निर्दिष्ट तिथि को पूरा
                        करने में उत्तरदाता असफल रहता है तो ऐसे मामले में, ऋणी
                        इस समझौते के लिए अदालत में डिफ़ॉल्टर माना जाएगा। ऐसे
                        डिफ़ॉल्ट के बाद, और इस समझौते के तहत उपलब्ध किसी भी
                        अन्य अधिकारों और उपायों के अतिरिक्त, ऋणदाता को अतिरिक्त
                        कानूनी शुल्क और जीएसटी के रूप में Rs 5000/- लगाने और
                        जोर देने का अधिकार होगा। ऋणी द्वारा बकाया राशि को पुनः
                        प्राप्त करने के लिए लागू किए गए ये कानूनी शुल्क, वकील
                        शुल्क, अदालत लागत और अन्य संबंधित व्ययों सहित हो सकते
                        हैं। जोड़े गए कानूनी शुल्क तत्काल देय और भुगतानीय
                        होंगे, और इस समझौते के अधीन ऋणी द्वारा बकाया राशि का
                        हिस्सा मानी जाएगी।
                      </div>
                    </div>
                  </div>
                  <div style="font-weight: 600; padding: 5px 0 0 0">
                    <div style="
                          float: left;
                          width: 10px;
                          margin-right: 20px;
                          margin-left: 20px;
                        ">
                      13.
                    </div>
                    <div style="padding-inline-start: 60px">मिश्रित:</div>
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px; margin-left: 20px">
                        1.
                      </div>
                      <div style="padding-inline-start: 40px">
                        <u>संशोधन</u>: इस समझौते को संशोधित किया जा सकता है या
                        केवल प्राधिकृत द्वारा विधिवत हस्ताक्षरित लिखित रूप में
                        संशोधन किया गया है दोनों पक्षों के प्रतिनिधि।
                      </div>
                    </div>
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px; margin-left: 20px">
                        2.
                      </div>
                      <div style="padding-inline-start: 40px">
                        <u>पूरे समझौते </u>: इस समझौते का गठन होता है संबंधित
                        पक्षों के बीच संपूर्ण समझौता यहां की विषय-वस्तु से
                        संबंधित है और सभी पूर्व का स्थान लेता है समझौते या समझ
                        चाहे मौखिक हो या लिखित ऐसी विषयवस्तु के संबंध में और
                        कोई भिन्नता नहीं समझौते की धारा तब तक प्रभावी रहेगी जब
                        तक इसे कम नहीं कर दिया जाता प्रत्येक पक्ष द्वारा या
                        उसकी ओर से लिखित और हस्ताक्षरित। अनुबंध, यदि कोई हो,
                        इस अनुबंध का हिस्सा है समझौता और तदनुसार समझा जाएगा.
                      </div>
                    </div>
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px; margin-left: 20px">
                        3.
                      </div>
                      <div style="padding-inline-start: 40px">
                        <u>कोई कार्यभार नहीं </u>: उधारकर्ता नहीं करेगा किसी
                        भी दायित्व को सौंपने का कोई अधिकार है या किसी भी
                        व्यक्ति के प्रति इस अनुबंध की देनदारियां ढंग कुछ भी
                        हो.
                      </div>
                    </div>
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px; margin-left: 20px">
                        4.
                      </div>
                      <div style="padding-inline-start: 40px">
                        <u>कोई साझेदारी नहीं </u>: बीच के रिश्ते दलों स्वतंत्र
                        अनुबंध की हैं दलों। इस अनुबंध में कुछ भी शामिल नहीं
                        होगा साझेदारी का गठन करना या गठित होना समझा जाना,
                        संयुक्त उद्यम, एजेंसी या रोजगार संबंध पार्टियों के
                        बीच। यह स्पष्ट किया जाता है कि कार्मिक प्रत्येक पक्ष
                        द्वारा नियुक्त संविदात्मक होगा संबंध केवल उस पार्टी से
                        है और वे हैं दूसरे के कर्मचारी, प्रतिनिधि या एजेंट
                        नहीं दल।
                      </div>
                    </div>
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px; margin-left: 20px">
                        5.
                      </div>
                      <div style="padding-inline-start: 40px">
                        <u>विच्छेदनीयता </u>: यदि इसका कोई प्रावधान है समझौता
                        अमान्य, अप्रवर्तनीय या निषिद्ध है कानून, ऐसा प्रावधान
                        इससे अलग हो जाएगा समझौता और इस समझौते का शेष भाग होगा
                        वैध, बाध्यकारी और समान प्रभाव वाला प्रावधान यहां शामिल
                        नहीं था.
                      </div>
                    </div>
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px; margin-left: 20px">
                        6.
                      </div>
                      <div style="padding-inline-start: 40px">
                        <u>समय</u>: यहां उल्लिखित समय-सीमा का पालन पार्टियों
                        द्वारा इस समझौते का सार होगा जब तक पार्टियों द्वारा
                        लिखित रूप में विस्तारित नहीं किया जाता।
                      </div>
                    </div>
                    <div style="font-weight: 400; padding: 0 0 5px 40px">
                      <div style="float: left; width: 10px; margin-left: 20px">
                        7.
                      </div>
                      <div style="padding-inline-start: 40px">
                        <u>त्याग</u>: किसी भी प्रावधान के उल्लंघन की कोई छूट
                        नहीं इस समझौते में किसी भी प्रकार की छूट शामिल होगी
                        इसका पूर्व, समवर्ती या बाद में उल्लंघन इसके कोई अन्य
                        प्रावधान, और कोई छूट नहीं होगी जब तक यह लिखित रूप में
                        न किया गया हो और किसी द्वारा हस्ताक्षरित न किया गया हो
                        तब तक प्रभावी रहेगा छूट देने वाली पार्टी का अधिकृत
                        प्रतिनिधि।
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="
        font-size: 10px;
        bottom: 5px;
        position: fixed;
        right: 0;
        padding: 10px 30px 5px 0px;
        text-align: right;
      ">
    <b>पृष्ठ 3</b>
  </div>
</body>

</html>