<html>
  <header>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lexend&family=Lexend+Deca:wght@200&display=swap'
      rel='stylesheet'
    />
    <style>
      .body { font-family: "Lexend"; } .selfieImg { float: right; margin-right:
      30px; height: 113px; width: 113px; }
    </style>
  </header>

  <body style='padding: 0; margin: 0'>
    <table
      style='
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        font-family: Lexend;
      '
    >
      <tbody>
        <tr>
          <td>
            <table
              style='
                max-width: 725px;
                width: 100%;
                margin: auto;
                border-collapse: collapse;
                font-family: Lexend;
              '
            >
              <tbody>
                <tr>
                  <td style='height: 80px'>
                    <div style='margin-top: 18px; margin-bottom: 8px'>
                      <img width='165px' height='40px' src={{nbfcLogo}} />
                    </div>
                    {{#cIf showLendingPartner}}
                      <div style='font-size: 12px; margin-bottom: 18px'>
                        Lending Partner :
                        {{appName}}
                      </div>
                    {{/cIf}}
                  </td>
                  <td style='padding: 0 0px 0 0; width: 400px'>
                    <div
                      style='
                        font-size: 12px;
                        text-align: end;
                        margin: 5px 0 0 0;
                      '
                    >
                      {{nbfcAddress}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style='background-color: #11ba77; height: 1px;'></td>
        </tr>
        <tr>
          <td>
            <table
              style='
                background: transparent;
                border-collapse: collapse;
                border-spacing: 0;
                margin: auto;
                width: 100%;
                font-family: Lexend;
                height: 100%;
                margin-top: 16px;
              '
            >
              <tbody>
                <tr>
                  <td colspan='2' style='text-align: center; font-weight: 600'>
                    <div
                      style='
                        display: inline-block;
                        height: 112px;
                        line-height: 112px;
                      '
                    >
                      SELF-DECLARATION AND UNDERTAKING BY BORROWER
                    </div>
                    <img
                      class='selfieImg'
                      ##deg##
                      style='{{selfieCSS}}'
                      src='{{borrowerImg}}'
                      alt=''
                    />
                  </td>
                </tr>

                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>1.</b>
                    I,
                    <b>{{borrowerName}}</b>
                    , confirm and agree that I can read and understand the terms
                    in English language. I agree to receive all documents/
                    correspondence in English language.
                  </td>
                </tr>

                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>2.</b>
                    I confirm that I have been informed by the
                    {{nbfcName}}
                    (referred as LENDER in the document) about the other
                    documents that may be submitted apart from my KYC for
                    establishing my identity and address proof however, I have
                    voluntarily chosen to give my KYC along with authorization
                    of scheduling ECS for the outstanding amount in my bank
                    account.
                  </td>
                </tr>

                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>3.</b>
                    I hereby declare that my acceptance of these Transaction
                    Documents is not in and will not result into any
                    contravention of any applicable laws including any
                    notifications/directions issued by any governmental or
                    statutory authority from time to time.
                  </td>
                </tr>

                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>4.</b>
                    I represent and warrant that the information and details
                    provided by me and the documents submitted by me are true,
                    correct and that I have not concealed any information. and I
                    undertake to inform the Lender of any changes therein,
                    immediately and I have not suppressed any information that
                    might affect the Lenders decision. In case any of any
                    information submitted by me is found to be false or untrue
                    or misleading or misrepresenting, I am aware that I may be
                    held liable for it.
                  </td>
                </tr>

                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>5.</b>
                    I have read and understood the fees as may be applicable to
                    the Loan that I may avail from time to time
                  </td>
                </tr>

                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>6.</b>
                    I confirm that no insolvency proceedings or suits for
                    recovery of outstanding dues have been initiated and / or
                    are pending against me.
                  </td>
                </tr>

                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>7.</b>
                    I hereby give my explicit consent to the Lender and
                    authorize the Lender to exchange or share information,
                    documents and details relating to my Loan to the Lending
                    Service Provider/Digital Lending Application, which may be
                    required to carry out their operations as may be required or
                    deemed fit, during and after disbursal of the Loan.
                  </td>
                </tr>

                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>8.</b>
                    I understand that, the Lender may offer an increase in my
                    credit limit, and an option will be provided to me to accept
                    the increased credit limit. Further, I also understand that,
                    the increase/decrease in the credit limit will be on the
                    basis of Lender's internal credit policy. Such revised loan
                    amount being duly intimated to me before disbursing the Loan
                    amount.
                  </td>
                </tr>
                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b>9.</b>
                    I understand and acknowledge that the Lender have the
                    absolute discretion, to refuse the disbursal of my Loan
                    despite issuing the Key Fact Statement/ Sanction letter.
                  </td>
                </tr>

                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b> 10.</b>
                    That Lender shall have the right to make disclosure of
                    Borrower's personal information as required under applicable
                    law and in relation to the performance of Its obligations
                    and enforcement of its rights order to enforce under this
                    Loan Agreement.
                  </td>
                </tr>

                <tr>
                  <td
                    style='
                      padding: 12px 30px 0px 30px;
                      letter-spacing: 0.2px;
                      font-size: 12px;
                      line-height: 20px;
                      text-align: justify;
                    '
                  >
                    <b> 11.</b>
                    I agree and accept that Lender may in its sole discretion,
                    by its self or through authorised persons, advocate,
                    agencies, bureau, etc. verify any information given, check
                    credit references, employment details and obtain credit
                    reports to determine creditworthiness from time to time.
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      style='font-size: 10px; bottom: 5px; position: fixed; right: 0; padding: 10px 30px 10px 0px; text-align: right;'
    >
      <b>Page 1</b>
    </div>
    <td>
      <div
        style='   width: 100%;
            margin: auto;
            position: relative;
            bottom: 0;
            position: fixed;background-color: #171732;'
      >

      </div>
    </td>
  </body>
</html>